@model LoginViewModel
<form method="post"  >
  <div class="form-group">
    <input hidden asp-for="returnUrl"></input>
    <div class="form-group col-md-6">
      <label asp-for="Email"></label>
      <input type="email" class="form-control" asp-for="Email" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label asp-for="Password"></label>
      <input type="password" class="form-control" asp-for="Password" placeholder="Password">
    </div>
    
  </div>
  
  <button type="submit" class="btn btn-primary" asp-controller="Account" 
  asp-action="Login" >Login</button>
</form>
<form method="post"  >
<label asp-for="ExternalLogins"></label>
    <div>
      
      @foreach (var provider in Model.ExternalLogins)
      {
        <button class="btn btn-primary" type="submit" name="provider" value="@provider.Name" asp-controller="Account"
        asp-action="ExternalLogin" asp-route-returnUrl="@Model.returnUrl"
        >@provider.DisplayName</button>
      }
       
      
    </div>
    </form>